[submodule "modules/vim-slim"]
	path = modules/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "modules/vim-less"]
	path = modules/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule "modules/vim-jsx"]
	path = modules/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "modules/vim-vue"]
	path = modules/vim-vue
	url = git@github.com:posva/vim-vue.git
